@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.flex-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.child-px-0 th,
	.child-px-0 td {
		padding: 1rem 0.2rem;
	}
}

@layer components {
	.dashboard-card-cont {
		@apply card w-72 md:w-96 h-64 md:h-52 bg-base-100 shadow-xl;
	}
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}
